
@import '../styles/variables';
@import '../styles/mixins/cta';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');


body {
  background-color: $background;
  font-family: 'Montserrat',
  sans-serif;


  ul {
    display: inline-flex;

    li {
      list-style: none;
      padding: 20px;
    }
  }

  h1 {
    text-align: center;

    a {
      color: $white;
      font-size: $header-font;
      letter-spacing: 10px;
      text-decoration: none;
      text-shadow: $text-shadow;
    }
  }

  h2 {
    color: $white;
    text-align: center;
    text-shadow: $text-shadow;
  }

  .signup-form {
    &--header {
      color: $white;
      font-size: $subheader-font;
      text-align: center;
      text-shadow: $text-shadow;
    }
  }
}
