
@import '../styles/variables';
@import '../styles/mixins/cta';
@import '../styles/mixins/inputs';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');


body {
  background-color: $background;
  font-family: 'Montserrat',
  sans-serif;

  .container {
    padding: 40px;
    text-align: center;

    .block {
      line-height: 1.5;
      margin: 0 auto;
      width: 80%;
    }
  }

  ul {
    display: inline-flex;
    padding: 0;

    li {
      list-style: none;
      padding: 20px;
    }
  }

  a {
    &.active {
      color: $white;
    }
  }


  h1 {
    & a {
      color: $white;
      font-size: $header-font;
      letter-spacing: 10px;
      text-decoration: none;
      text-shadow: $text-shadow;
    }
  }

  h2 {
    color: $white;
    text-shadow: $text-shadow;
  }

  input,
  select,
  textarea {
    @include inputs;
  }

  .button {
    @include cta;
  }

  .signup-form {
    &--header {
      color: $white;
      font-size: $subheader-font;
      text-shadow: $text-shadow;
    }
  }

  .navigation {
    margin: 0 auto;
  }

  .not-found-dog {
    border: solid;
  }
}
