
@import '../styles/variables';

body {
  background-color: $background;

  ul {
    display: inline-flex;

    li {
      list-style: none;
      padding: 20px;
    }
  }

  h1 {
    text-align: center;

    a {
      color: $white;
      letter-spacing: .5px;
      text-decoration: none;
      text-shadow: $text-shadow;
    }
  }

  h2 {
    color: $white;
    text-align: center;
    text-shadow: $text-shadow;
  }

  .signup-form {
    &--header {
      color: $white;
      font-size: 40px;
      text-align: center;
      text-shadow: $text-shadow;
    }
  }
}
